# Зависимости — весят тонны, качаются через npm i
node_modules/

# Секреты — тут твои ключи и доступы. НИКОГДА не пушим
.env

# Логи — мусор от работы сервера
*.log
npm-debug.log*

# Системный мусор Windows и macOS
.DS_Store
Thumbs.db

# Данные базы данных (если прокинул volume в папку проекта)
mongo-data/